
/*
container é a tag pai
flex-direction = sentido do flex
justify-content = alinhamento dos elementos do container no eixo principal
align-itens = alinha os elementos no eixo perpendicular
flex-wrap = quebra de linha (padrão no wrap)
align-content = alinhar os elementos em mais de uma linha
gap = coloca espaço entre os elementos em todos os lados
gap
row-gap
column-gap

NOS ELEMENTOS FILHO
order = 0 -> padrão Ordena os blocos. Os números podem ser negativos
flew-grow = pode ou não crescer. Cresce em proporção.
flex-shrink = pode ou não encolher. 
flex-basis = define largura 
flex = agrega grow/shrink/basis
align-self = alinha um único elemento

Jogos para treinar
https://flexboxfroggy.com/#pt-br
https://mastery.games/flexboxzombies/...
https://www.flexboxdefense.com

*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 10px;

    /* INDIFERENTE */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}
:root{
    --tamanho-fonte:20px;
    --altura-bloco:150px;
    --largura-bloco:110px;
    --padding-bloco:15px;
    --cor-bloco-impar: rgb(180, 44, 101);
    --cor-bloco-par: rgb(44, 101, 180);
}

.bloco-1 {
    background-color: var(--cor-bloco-impar);
    flex-grow: 0;
    flex-shrink: 1;
    flex: 0 0 auto;
    align-self: flex-start;
}

.bloco-2 {
    background-color: var(--cor-bloco-par);
    flex-grow: 0;
    flex: shrink 1;;
}

.bloco-3 {
    background-color: var(--cor-bloco-impar);
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-4 {
    background-color: var(--cor-bloco-par);
}

.bloco-5 {
    background-color: var(--cor-bloco-impar);
}

.bloco-6 {
    background-color: var(--cor-bloco-par);
}

.bloco-7 {
    background-color: var(--cor-bloco-impar);
}

.bloco-8 {
    background-color:   var(--cor-bloco-par);
}

.bloco-9 {
    background-color: var(--cor-bloco-impar);
}

.bloco-10 {
    background-color: var(--cor-bloco-par)   
}

.bloco-1, .bloco-2, .bloco-3, .bloco-4,
.bloco-5, .bloco-6, .bloco-7, .bloco-8,
.bloco-9, .bloco-10 {
    height: var(--altura-bloco);
    width: var(--largura-bloco);
    text-align: center;
    font-size: var(--tamanho-fonte);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    padding: var(--padding-bloco);
}