
/*
container é a tag pai
flex-direction = sentido do flex
justify-content = alinhamento dos elementos do container no eixo principal
align-itens = alinha os elementos no eixo perpendicular
flex-wrap = quebra de linha (padrão no wrap)
align-content = alinhar os elementos em mais de uma linha
gap = coloca espaço entre os elementos em todos os lados
gap
row-gap
column-gap

NOS ELEMENTOS FILHO
order = 0 -> padrão Ordena os blocos. Os números podem ser negativos
flew-grow = pode ou não crescer. Cresce em proporção.
flex-shrink = pode ou não encolher. 
flex-basis = define largura 
flex = agrega grow/shrink/basis
align-self = alinha um único elemento

Jogos para treinar
https://flexboxfroggy.com/#pt-br
https://mastery.games/flexboxzombies/...
https://www.flexboxdefense.com

*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;

    /* INDIFERENTE */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}
:root{
    --tamanho_fonte:40px;
    --altura-blocos:150px;
    --largura-blocos:100px;
}

.bloco-1 {
    background-color: aquamarine;
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    flex: 0 0 auto;
    align-self: flex-start;
}

.bloco-2 {
    background-color: rgb(255, 214, 127);
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-3 {
    background-color: rgb(197, 127, 255);
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-4 {
    background-color: rgb(127, 146, 255);
    padding: 15px;
}

.bloco-5 {
    background-color: rgb(129, 127, 255);
    padding: 15px;
}

.bloco-6 {
    background-color: rgb(255, 157, 127);
    padding: 15px;
}

.bloco-7 {
    background-color: rgb(240, 28, 28);
    padding: 15px;
}

.bloco-8 {
    background-color: rgb(169, 74, 247);
    padding: 15px;
}

.bloco-9 {
    background-color: rgb(245, 44, 77);
    padding: 15px;
}

.bloco-10 {
    background-color: rgb(85, 233, 93);
    padding: 15px;
}

.bloco-1, .bloco-2, .bloco-3, .bloco-4,
.bloco-5, .bloco-6, .bloco-7, .bloco-8,
.bloco-9, .bloco-10 {
    height: var(--altura-blocos);
    width: var(--largura-blocos);
    text-align: center;
    font-size: var(--tamanho_fonte);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}